<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hytx.dao.sync.ori.SyncQsxxMapper" >
  <resultMap id="BaseResultMap" type="com.hytx.model.sync.SyncQsxx" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="MOID" property="moid" jdbcType="VARCHAR" />
    <result column="GATEWAYID" property="gatewayid" jdbcType="VARCHAR" />
    <result column="PRODUCTID" property="productid" jdbcType="VARCHAR" />
    <result column="DESTTERMID" property="desttermid" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="LINKID" property="linkid" jdbcType="VARCHAR" />
    <result column="MSGCONTENT" property="msgcontent" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="IP" property="ip" jdbcType="VARCHAR" />
    <result column="SYNC_STATUS" property="syncStatus" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="FEECODE" property="feecode" jdbcType="DECIMAL" />
    <result column="REDUCE_STATUS" property="reduceStatus" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MOID, GATEWAYID, PRODUCTID, DESTTERMID, PHONE, LINKID, MSGCONTENT, CREATETIME, 
    IP, SYNC_STATUS, STATUS, FEECODE, REDUCE_STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hytx.model.sync.SyncQsxxExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_SYNC_QSXX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from T_SYNC_QSXX
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from T_SYNC_QSXX
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.hytx.model.sync.SyncQsxxExample" >
    delete from T_SYNC_QSXX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hytx.model.sync.SyncQsxx" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      select SEQ_SYNC_QSXX_ID.nextval from dual
    </selectKey>
    insert into T_SYNC_QSXX (ID, MOID, GATEWAYID, 
      PRODUCTID, DESTTERMID, PHONE, 
      LINKID, MSGCONTENT, CREATETIME, 
      IP, SYNC_STATUS, STATUS, 
      FEECODE, REDUCE_STATUS)
    values (#{id,jdbcType=DECIMAL}, #{moid,jdbcType=VARCHAR}, #{gatewayid,jdbcType=VARCHAR}, 
      #{productid,jdbcType=VARCHAR}, #{desttermid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{linkid,jdbcType=VARCHAR}, #{msgcontent,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{ip,jdbcType=VARCHAR}, #{syncStatus,jdbcType=DECIMAL}, #{status,jdbcType=VARCHAR}, 
      #{feecode,jdbcType=DECIMAL}, #{reduceStatus,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.hytx.model.sync.SyncQsxx" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="BEFORE" >
      select SEQ_SYNC_QSXX_ID.nextval from dual
    </selectKey>
    insert into T_SYNC_QSXX
    <trim prefix="(" suffix=")" suffixOverrides="," >
      ID,
      <if test="moid != null" >
        MOID,
      </if>
      <if test="gatewayid != null" >
        GATEWAYID,
      </if>
      <if test="productid != null" >
        PRODUCTID,
      </if>
      <if test="desttermid != null" >
        DESTTERMID,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="linkid != null" >
        LINKID,
      </if>
      <if test="msgcontent != null" >
        MSGCONTENT,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="ip != null" >
        IP,
      </if>
      <if test="syncStatus != null" >
        SYNC_STATUS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="feecode != null" >
        FEECODE,
      </if>
      <if test="reduceStatus != null" >
        REDUCE_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=DECIMAL},
      <if test="moid != null" >
        #{moid,jdbcType=VARCHAR},
      </if>
      <if test="gatewayid != null" >
        #{gatewayid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=VARCHAR},
      </if>
      <if test="desttermid != null" >
        #{desttermid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="linkid != null" >
        #{linkid,jdbcType=VARCHAR},
      </if>
      <if test="msgcontent != null" >
        #{msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null" >
        #{syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="feecode != null" >
        #{feecode,jdbcType=DECIMAL},
      </if>
      <if test="reduceStatus != null" >
        #{reduceStatus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hytx.model.sync.SyncQsxxExample" resultType="java.lang.Integer" >
    select count(*) from T_SYNC_QSXX
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_SYNC_QSXX
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.moid != null" >
        MOID = #{record.moid,jdbcType=VARCHAR},
      </if>
      <if test="record.gatewayid != null" >
        GATEWAYID = #{record.gatewayid,jdbcType=VARCHAR},
      </if>
      <if test="record.productid != null" >
        PRODUCTID = #{record.productid,jdbcType=VARCHAR},
      </if>
      <if test="record.desttermid != null" >
        DESTTERMID = #{record.desttermid,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.linkid != null" >
        LINKID = #{record.linkid,jdbcType=VARCHAR},
      </if>
      <if test="record.msgcontent != null" >
        MSGCONTENT = #{record.msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ip != null" >
        IP = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.syncStatus != null" >
        SYNC_STATUS = #{record.syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.feecode != null" >
        FEECODE = #{record.feecode,jdbcType=DECIMAL},
      </if>
      <if test="record.reduceStatus != null" >
        REDUCE_STATUS = #{record.reduceStatus,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_SYNC_QSXX
    set ID = #{record.id,jdbcType=DECIMAL},
      MOID = #{record.moid,jdbcType=VARCHAR},
      GATEWAYID = #{record.gatewayid,jdbcType=VARCHAR},
      PRODUCTID = #{record.productid,jdbcType=VARCHAR},
      DESTTERMID = #{record.desttermid,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      LINKID = #{record.linkid,jdbcType=VARCHAR},
      MSGCONTENT = #{record.msgcontent,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      IP = #{record.ip,jdbcType=VARCHAR},
      SYNC_STATUS = #{record.syncStatus,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=VARCHAR},
      FEECODE = #{record.feecode,jdbcType=DECIMAL},
      REDUCE_STATUS = #{record.reduceStatus,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hytx.model.sync.SyncQsxx" >
    update T_SYNC_QSXX
    <set >
      <if test="moid != null" >
        MOID = #{moid,jdbcType=VARCHAR},
      </if>
      <if test="gatewayid != null" >
        GATEWAYID = #{gatewayid,jdbcType=VARCHAR},
      </if>
      <if test="productid != null" >
        PRODUCTID = #{productid,jdbcType=VARCHAR},
      </if>
      <if test="desttermid != null" >
        DESTTERMID = #{desttermid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="linkid != null" >
        LINKID = #{linkid,jdbcType=VARCHAR},
      </if>
      <if test="msgcontent != null" >
        MSGCONTENT = #{msgcontent,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        IP = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null" >
        SYNC_STATUS = #{syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="feecode != null" >
        FEECODE = #{feecode,jdbcType=DECIMAL},
      </if>
      <if test="reduceStatus != null" >
        REDUCE_STATUS = #{reduceStatus,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hytx.model.sync.SyncQsxx" >
    update T_SYNC_QSXX
    set MOID = #{moid,jdbcType=VARCHAR},
      GATEWAYID = #{gatewayid,jdbcType=VARCHAR},
      PRODUCTID = #{productid,jdbcType=VARCHAR},
      DESTTERMID = #{desttermid,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      LINKID = #{linkid,jdbcType=VARCHAR},
      MSGCONTENT = #{msgcontent,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      IP = #{ip,jdbcType=VARCHAR},
      SYNC_STATUS = #{syncStatus,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      FEECODE = #{feecode,jdbcType=DECIMAL},
      REDUCE_STATUS = #{reduceStatus,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>