<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hytx.dao.baseConf.ori.OperateMapper" >
  <resultMap id="BaseResultMap" type="com.hytx.model.baseConf.Operate" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="OP_NAME" property="opName" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="FEE_CODE" property="feeCode" jdbcType="VARCHAR" />
    <result column="OP_CODE" property="opCode" jdbcType="VARCHAR" />
    <result column="SUFFIX_NUM" property="suffixNum" jdbcType="DECIMAL" />
    <result column="SERVER_TYPE" property="serverType" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="WEIGHT" property="weight" jdbcType="DECIMAL" />
    <result column="OP_TYPE" property="opType" jdbcType="DECIMAL" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DT" property="createDt" jdbcType="TIMESTAMP" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DT" property="updateDt" jdbcType="TIMESTAMP" />
    <result column="APP_ID" property="appId" jdbcType="DECIMAL" />
    <result column="APP_SN" property="appSn" jdbcType="VARCHAR" />
    <result column="CHANNEL_SN" property="channelSn" jdbcType="VARCHAR" />
    <result column="ENSURE_TYPE" property="ensureType" jdbcType="DECIMAL" />
    <result column="ENSURE_CONTENT" property="ensureContent" jdbcType="VARCHAR" />
    <result column="ENSURE_NUM" property="ensureNum" jdbcType="VARCHAR" />
    <result column="CPPARAM" property="cpparam" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, OP_NAME, PRICE, FEE_CODE, OP_CODE, SUFFIX_NUM, SERVER_TYPE, STATUS, WEIGHT, OP_TYPE, 
    CREATE_BY, CREATE_DT, UPDATE_BY, UPDATE_DT, APP_ID, APP_SN, CHANNEL_SN, ENSURE_TYPE, 
    ENSURE_CONTENT, ENSURE_NUM, CPPARAM
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hytx.model.baseConf.OperateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_OPERATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_OPERATE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_OPERATE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.hytx.model.baseConf.OperateExample" >
    delete from T_OPERATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hytx.model.baseConf.Operate">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      select SEQ_OPERATE_ID.nextval from dual
    </selectKey>
    insert into T_OPERATE (ID, OP_NAME, PRICE, 
      FEE_CODE, OP_CODE, SUFFIX_NUM, 
      SERVER_TYPE, STATUS, WEIGHT, 
      OP_TYPE, CREATE_BY, CREATE_DT, 
      UPDATE_BY, UPDATE_DT, APP_ID, 
      APP_SN, CHANNEL_SN, ENSURE_TYPE, 
      ENSURE_CONTENT, ENSURE_NUM)
    values (#{id,jdbcType=DECIMAL}, #{opName,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{feeCode,jdbcType=VARCHAR}, #{opCode,jdbcType=VARCHAR}, #{suffixNum,jdbcType=DECIMAL}, 
      #{serverType,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, #{weight,jdbcType=DECIMAL}, 
      #{opType,jdbcType=DECIMAL}, #{createBy,jdbcType=VARCHAR}, #{createDt,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDt,jdbcType=TIMESTAMP}, #{appId,jdbcType=DECIMAL}, 
      #{appSn,jdbcType=VARCHAR}, #{channelSn,jdbcType=VARCHAR}, #{ensureType,jdbcType=DECIMAL}, 
      #{ensureContent,jdbcType=VARCHAR}, #{ensureNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hytx.model.baseConf.Operate" >
   <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      select SEQ_OPERATE_ID.nextval from dual
    </selectKey>
    insert into T_OPERATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="opName != null" >
        OP_NAME,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="feeCode != null" >
        FEE_CODE,
      </if>
      <if test="opCode != null" >
        OP_CODE,
      </if>
      <if test="suffixNum != null" >
        SUFFIX_NUM,
      </if>
      <if test="serverType != null" >
        SERVER_TYPE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="weight != null" >
        WEIGHT,
      </if>
      <if test="opType != null" >
        OP_TYPE,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDt != null" >
        CREATE_DT,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateDt != null" >
        UPDATE_DT,
      </if>
      <if test="appId != null" >
        APP_ID,
      </if>
      <if test="appSn != null" >
        APP_SN,
      </if>
      <if test="channelSn != null" >
        CHANNEL_SN,
      </if>
      <if test="ensureType != null" >
        ENSURE_TYPE,
      </if>
      <if test="ensureContent != null" >
        ENSURE_CONTENT,
      </if>
      <if test="ensureNum != null" >
        ENSURE_NUM,
      </if>
      <if test="cpparam != null" >
        CPPARAM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="opName != null" >
        #{opName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="feeCode != null" >
        #{feeCode,jdbcType=VARCHAR},
      </if>
      <if test="opCode != null" >
        #{opCode,jdbcType=VARCHAR},
      </if>
      <if test="suffixNum != null" >
        #{suffixNum,jdbcType=DECIMAL},
      </if>
      <if test="serverType != null" >
        #{serverType,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="weight != null" >
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="opType != null" >
        #{opType,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null" >
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=DECIMAL},
      </if>
      <if test="appSn != null" >
        #{appSn,jdbcType=VARCHAR},
      </if>
      <if test="channelSn != null" >
        #{channelSn,jdbcType=VARCHAR},
      </if>
      <if test="ensureType != null" >
        #{ensureType,jdbcType=DECIMAL},
      </if>
      <if test="ensureContent != null" >
        #{ensureContent,jdbcType=VARCHAR},
      </if>
      <if test="ensureNum != null" >
        #{ensureNum,jdbcType=VARCHAR},
      </if>
      <if test="cpparam != null" >
        #{cpparam,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hytx.model.baseConf.OperateExample" resultType="java.lang.Integer" >
    select count(*) from T_OPERATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_OPERATE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.opName != null" >
        OP_NAME = #{record.opName,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.feeCode != null" >
        FEE_CODE = #{record.feeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.opCode != null" >
        OP_CODE = #{record.opCode,jdbcType=VARCHAR},
      </if>
      <if test="record.suffixNum != null" >
        SUFFIX_NUM = #{record.suffixNum,jdbcType=DECIMAL},
      </if>
      <if test="record.serverType != null" >
        SERVER_TYPE = #{record.serverType,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.weight != null" >
        WEIGHT = #{record.weight,jdbcType=DECIMAL},
      </if>
      <if test="record.opType != null" >
        OP_TYPE = #{record.opType,jdbcType=DECIMAL},
      </if>
      <if test="record.createBy != null" >
        CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDt != null" >
        CREATE_DT = #{record.createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDt != null" >
        UPDATE_DT = #{record.updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="record.appId != null" >
        APP_ID = #{record.appId,jdbcType=DECIMAL},
      </if>
      <if test="record.appSn != null" >
        APP_SN = #{record.appSn,jdbcType=VARCHAR},
      </if>
      <if test="record.channelSn != null" >
        CHANNEL_SN = #{record.channelSn,jdbcType=VARCHAR},
      </if>
      <if test="record.ensureType != null" >
        ENSURE_TYPE = #{record.ensureType,jdbcType=DECIMAL},
      </if>
      <if test="record.ensureContent != null" >
        ENSURE_CONTENT = #{record.ensureContent,jdbcType=VARCHAR},
      </if>
      <if test="record.ensureNum != null" >
        ENSURE_NUM = #{record.ensureNum,jdbcType=VARCHAR},
      </if>
      <if test="record.cpparam != null" >
        CPPARAM = #{record.cpparam,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_OPERATE
    set ID = #{record.id,jdbcType=DECIMAL},
      OP_NAME = #{record.opName,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=DECIMAL},
      FEE_CODE = #{record.feeCode,jdbcType=VARCHAR},
      OP_CODE = #{record.opCode,jdbcType=VARCHAR},
      SUFFIX_NUM = #{record.suffixNum,jdbcType=DECIMAL},
      SERVER_TYPE = #{record.serverType,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      WEIGHT = #{record.weight,jdbcType=DECIMAL},
      OP_TYPE = #{record.opType,jdbcType=DECIMAL},
      CREATE_BY = #{record.createBy,jdbcType=VARCHAR},
      CREATE_DT = #{record.createDt,jdbcType=TIMESTAMP},
      UPDATE_BY = #{record.updateBy,jdbcType=VARCHAR},
      UPDATE_DT = #{record.updateDt,jdbcType=TIMESTAMP},
      APP_ID = #{record.appId,jdbcType=DECIMAL},
      APP_SN = #{record.appSn,jdbcType=VARCHAR},
      CHANNEL_SN = #{record.channelSn,jdbcType=VARCHAR},
      ENSURE_TYPE = #{record.ensureType,jdbcType=DECIMAL},
      ENSURE_CONTENT = #{record.ensureContent,jdbcType=VARCHAR},
      ENSURE_NUM = #{record.ensureNum,jdbcType=VARCHAR},
      CPPARAM = #{record.cpparam,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hytx.model.baseConf.Operate" >
    update T_OPERATE
    <set >
      <if test="opName != null" >
        OP_NAME = #{opName,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="feeCode != null" >
        FEE_CODE = #{feeCode,jdbcType=VARCHAR},
      </if>
      <if test="opCode != null" >
        OP_CODE = #{opCode,jdbcType=VARCHAR},
      </if>
      <if test="suffixNum != null" >
        SUFFIX_NUM = #{suffixNum,jdbcType=DECIMAL},
      </if>
      <if test="serverType != null" >
        SERVER_TYPE = #{serverType,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="weight != null" >
        WEIGHT = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="opType != null" >
        OP_TYPE = #{opType,jdbcType=DECIMAL},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null" >
        CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null" >
        UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="appId != null" >
        APP_ID = #{appId,jdbcType=DECIMAL},
      </if>
      <if test="appSn != null" >
        APP_SN = #{appSn,jdbcType=VARCHAR},
      </if>
      <if test="channelSn != null" >
        CHANNEL_SN = #{channelSn,jdbcType=VARCHAR},
      </if>
      <if test="ensureType != null" >
        ENSURE_TYPE = #{ensureType,jdbcType=DECIMAL},
      </if>
      <if test="ensureContent != null" >
        ENSURE_CONTENT = #{ensureContent,jdbcType=VARCHAR},
      </if>
      <if test="ensureNum != null" >
        ENSURE_NUM = #{ensureNum,jdbcType=VARCHAR},
      </if>
      <if test="cpparam != null" >
        CPPARAM = #{cpparam,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hytx.model.baseConf.Operate" >
    update T_OPERATE
    set OP_NAME = #{opName,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      FEE_CODE = #{feeCode,jdbcType=VARCHAR},
      OP_CODE = #{opCode,jdbcType=VARCHAR},
      SUFFIX_NUM = #{suffixNum,jdbcType=DECIMAL},
      SERVER_TYPE = #{serverType,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      WEIGHT = #{weight,jdbcType=DECIMAL},
      OP_TYPE = #{opType,jdbcType=DECIMAL},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DT = #{createDt,jdbcType=TIMESTAMP},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DT = #{updateDt,jdbcType=TIMESTAMP},
      APP_ID = #{appId,jdbcType=DECIMAL},
      APP_SN = #{appSn,jdbcType=VARCHAR},
      CHANNEL_SN = #{channelSn,jdbcType=VARCHAR},
      ENSURE_TYPE = #{ensureType,jdbcType=DECIMAL},
      ENSURE_CONTENT = #{ensureContent,jdbcType=VARCHAR},
      ENSURE_NUM = #{ensureNum,jdbcType=VARCHAR},
      CPPARAM = #{cpparam,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>