<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hytx.dao.baseConf.ori.SettlementMethodMapper" >
  <resultMap id="BaseResultMap" type="com.hytx.model.baseConf.SettlementMethod" >
    <id column="SM_ID" property="smId" jdbcType="DECIMAL" />
    <result column="SM_NAME" property="smName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    SM_ID, SM_NAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hytx.model.baseConf.SettlementMethodExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_SETTLEMENT_METHOD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from T_SETTLEMENT_METHOD
    where SM_ID = #{smId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from T_SETTLEMENT_METHOD
    where SM_ID = #{smId,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.hytx.model.baseConf.SettlementMethodExample" >
    delete from T_SETTLEMENT_METHOD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hytx.model.baseConf.SettlementMethod" >
    insert into T_SETTLEMENT_METHOD (SM_ID, SM_NAME)
    values (#{smId,jdbcType=DECIMAL}, #{smName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hytx.model.baseConf.SettlementMethod" >
    insert into T_SETTLEMENT_METHOD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="smId != null" >
        SM_ID,
      </if>
      <if test="smName != null" >
        SM_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="smId != null" >
        #{smId,jdbcType=DECIMAL},
      </if>
      <if test="smName != null" >
        #{smName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hytx.model.baseConf.SettlementMethodExample" resultType="java.lang.Integer" >
    select count(*) from T_SETTLEMENT_METHOD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_SETTLEMENT_METHOD
    <set >
      <if test="record.smId != null" >
        SM_ID = #{record.smId,jdbcType=DECIMAL},
      </if>
      <if test="record.smName != null" >
        SM_NAME = #{record.smName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_SETTLEMENT_METHOD
    set SM_ID = #{record.smId,jdbcType=DECIMAL},
      SM_NAME = #{record.smName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hytx.model.baseConf.SettlementMethod" >
    update T_SETTLEMENT_METHOD
    <set >
      <if test="smName != null" >
        SM_NAME = #{smName,jdbcType=VARCHAR},
      </if>
    </set>
    where SM_ID = #{smId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hytx.model.baseConf.SettlementMethod" >
    update T_SETTLEMENT_METHOD
    set SM_NAME = #{smName,jdbcType=VARCHAR}
    where SM_ID = #{smId,jdbcType=DECIMAL}
  </update>
</mapper>