<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hytx.dao.syncEx.ori.SyncXlMapper" >
  <resultMap id="BaseResultMap" type="com.hytx.model.syncEx.SyncXl" >
    <id column="PDORDERID" property="pdorderid" jdbcType="VARCHAR" />
    <result column="MCHID" property="mchid" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="FEE" property="fee" jdbcType="VARCHAR" />
    <result column="ORDERID" property="orderid" jdbcType="VARCHAR" />
    <result column="UNIT" property="unit" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="CHANNEL" property="channel" jdbcType="VARCHAR" />
    <result column="PAYCHANNEL" property="paychannel" jdbcType="VARCHAR" />
    <result column="SIGN" property="sign" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CHANNEL_APP_ID" property="channelAppId" jdbcType="DECIMAL" />
    <result column="SYNC_STATUS" property="syncStatus" jdbcType="DECIMAL" />
    <result column="REDUCE_STATUS" property="reduceStatus" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PDORDERID, MCHID, PHONE, FEE, ORDERID, UNIT, STATUS, CHANNEL, PAYCHANNEL, SIGN, CREATETIME, 
    CHANNEL_APP_ID, SYNC_STATUS, REDUCE_STATUS
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hytx.model.syncEx.SyncXlExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_SYNC_XL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYNC_XL
    where PDORDERID = #{pdorderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYNC_XL
    where PDORDERID = #{pdorderid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hytx.model.syncEx.SyncXlExample" >
    delete from T_SYNC_XL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hytx.model.syncEx.SyncXl" >
    insert into T_SYNC_XL (PDORDERID, MCHID, PHONE, 
      FEE, ORDERID, UNIT, 
      STATUS, CHANNEL, PAYCHANNEL, 
      SIGN, CREATETIME, CHANNEL_APP_ID, 
      SYNC_STATUS, REDUCE_STATUS)
    values (#{pdorderid,jdbcType=VARCHAR}, #{mchid,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{fee,jdbcType=VARCHAR}, #{orderid,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{paychannel,jdbcType=VARCHAR}, 
      #{sign,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{channelAppId,jdbcType=DECIMAL}, 
      #{syncStatus,jdbcType=DECIMAL}, #{reduceStatus,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.hytx.model.syncEx.SyncXl" >
    insert into T_SYNC_XL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pdorderid != null" >
        PDORDERID,
      </if>
      <if test="mchid != null" >
        MCHID,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="fee != null" >
        FEE,
      </if>
      <if test="orderid != null" >
        ORDERID,
      </if>
      <if test="unit != null" >
        UNIT,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="channel != null" >
        CHANNEL,
      </if>
      <if test="paychannel != null" >
        PAYCHANNEL,
      </if>
      <if test="sign != null" >
        SIGN,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="channelAppId != null" >
        CHANNEL_APP_ID,
      </if>
      <if test="syncStatus != null" >
        SYNC_STATUS,
      </if>
      <if test="reduceStatus != null" >
        REDUCE_STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pdorderid != null" >
        #{pdorderid,jdbcType=VARCHAR},
      </if>
      <if test="mchid != null" >
        #{mchid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="paychannel != null" >
        #{paychannel,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelAppId != null" >
        #{channelAppId,jdbcType=DECIMAL},
      </if>
      <if test="syncStatus != null" >
        #{syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="reduceStatus != null" >
        #{reduceStatus,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hytx.model.syncEx.SyncXlExample" resultType="java.lang.Integer" >
    select count(*) from T_SYNC_XL
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_SYNC_XL
    <set >
      <if test="record.pdorderid != null" >
        PDORDERID = #{record.pdorderid,jdbcType=VARCHAR},
      </if>
      <if test="record.mchid != null" >
        MCHID = #{record.mchid,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        PHONE = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.fee != null" >
        FEE = #{record.fee,jdbcType=VARCHAR},
      </if>
      <if test="record.orderid != null" >
        ORDERID = #{record.orderid,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null" >
        UNIT = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.channel != null" >
        CHANNEL = #{record.channel,jdbcType=VARCHAR},
      </if>
      <if test="record.paychannel != null" >
        PAYCHANNEL = #{record.paychannel,jdbcType=VARCHAR},
      </if>
      <if test="record.sign != null" >
        SIGN = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.channelAppId != null" >
        CHANNEL_APP_ID = #{record.channelAppId,jdbcType=DECIMAL},
      </if>
      <if test="record.syncStatus != null" >
        SYNC_STATUS = #{record.syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.reduceStatus != null" >
        REDUCE_STATUS = #{record.reduceStatus,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_SYNC_XL
    set PDORDERID = #{record.pdorderid,jdbcType=VARCHAR},
      MCHID = #{record.mchid,jdbcType=VARCHAR},
      PHONE = #{record.phone,jdbcType=VARCHAR},
      FEE = #{record.fee,jdbcType=VARCHAR},
      ORDERID = #{record.orderid,jdbcType=VARCHAR},
      UNIT = #{record.unit,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=VARCHAR},
      CHANNEL = #{record.channel,jdbcType=VARCHAR},
      PAYCHANNEL = #{record.paychannel,jdbcType=VARCHAR},
      SIGN = #{record.sign,jdbcType=VARCHAR},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      CHANNEL_APP_ID = #{record.channelAppId,jdbcType=DECIMAL},
      SYNC_STATUS = #{record.syncStatus,jdbcType=DECIMAL},
      REDUCE_STATUS = #{record.reduceStatus,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hytx.model.syncEx.SyncXl" >
    update T_SYNC_XL
    <set >
      <if test="mchid != null" >
        MCHID = #{mchid,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        FEE = #{fee,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        ORDERID = #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="unit != null" >
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="channel != null" >
        CHANNEL = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="paychannel != null" >
        PAYCHANNEL = #{paychannel,jdbcType=VARCHAR},
      </if>
      <if test="sign != null" >
        SIGN = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelAppId != null" >
        CHANNEL_APP_ID = #{channelAppId,jdbcType=DECIMAL},
      </if>
      <if test="syncStatus != null" >
        SYNC_STATUS = #{syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="reduceStatus != null" >
        REDUCE_STATUS = #{reduceStatus,jdbcType=DECIMAL},
      </if>
    </set>
    where PDORDERID = #{pdorderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hytx.model.syncEx.SyncXl" >
    update T_SYNC_XL
    set MCHID = #{mchid,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      FEE = #{fee,jdbcType=VARCHAR},
      ORDERID = #{orderid,jdbcType=VARCHAR},
      UNIT = #{unit,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CHANNEL = #{channel,jdbcType=VARCHAR},
      PAYCHANNEL = #{paychannel,jdbcType=VARCHAR},
      SIGN = #{sign,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CHANNEL_APP_ID = #{channelAppId,jdbcType=DECIMAL},
      SYNC_STATUS = #{syncStatus,jdbcType=DECIMAL},
      REDUCE_STATUS = #{reduceStatus,jdbcType=DECIMAL}
    where PDORDERID = #{pdorderid,jdbcType=VARCHAR}
  </update>
</mapper>