<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hytx.dao.syncEx.ori.TCountIncomeMapper" >
  <resultMap id="BaseResultMap" type="com.hytx.model.syncEx.TCountIncome" >
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="CHANNEL_APP_ID" property="channelAppId" jdbcType="DECIMAL" />
    <result column="FEE_VALUE" property="feeValue" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="SYNC_STATUS" property="syncStatus" jdbcType="DECIMAL" />
    <result column="REDUCE_STATUS" property="reduceStatus" jdbcType="DECIMAL" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="PROVINCE" property="province" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MOBILE, CHANNEL_APP_ID, FEE_VALUE, STATUS, SYNC_STATUS, REDUCE_STATUS, CREATETIME, 
    PROVINCE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hytx.model.syncEx.TCountIncomeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_COUNT_INCOME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.hytx.model.syncEx.TCountIncomeExample" >
    delete from T_COUNT_INCOME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hytx.model.syncEx.TCountIncome" >
    insert into T_COUNT_INCOME (MOBILE, CHANNEL_APP_ID, FEE_VALUE, 
      STATUS, SYNC_STATUS, REDUCE_STATUS, 
      CREATETIME, PROVINCE)
    values (#{mobile,jdbcType=VARCHAR}, #{channelAppId,jdbcType=DECIMAL}, #{feeValue,jdbcType=DECIMAL}, 
      #{status,jdbcType=DECIMAL}, #{syncStatus,jdbcType=DECIMAL}, #{reduceStatus,jdbcType=DECIMAL}, 
      #{createtime,jdbcType=TIMESTAMP}, #{province,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hytx.model.syncEx.TCountIncome" >
    insert into T_COUNT_INCOME
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="channelAppId != null" >
        CHANNEL_APP_ID,
      </if>
      <if test="feeValue != null" >
        FEE_VALUE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="syncStatus != null" >
        SYNC_STATUS,
      </if>
      <if test="reduceStatus != null" >
        REDUCE_STATUS,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="province != null" >
        PROVINCE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="channelAppId != null" >
        #{channelAppId,jdbcType=DECIMAL},
      </if>
      <if test="feeValue != null" >
        #{feeValue,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="syncStatus != null" >
        #{syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="reduceStatus != null" >
        #{reduceStatus,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hytx.model.syncEx.TCountIncomeExample" resultType="java.lang.Integer" >
    select count(*) from T_COUNT_INCOME
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_COUNT_INCOME
    <set >
      <if test="record.mobile != null" >
        MOBILE = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.channelAppId != null" >
        CHANNEL_APP_ID = #{record.channelAppId,jdbcType=DECIMAL},
      </if>
      <if test="record.feeValue != null" >
        FEE_VALUE = #{record.feeValue,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.syncStatus != null" >
        SYNC_STATUS = #{record.syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.reduceStatus != null" >
        REDUCE_STATUS = #{record.reduceStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.province != null" >
        PROVINCE = #{record.province,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_COUNT_INCOME
    set MOBILE = #{record.mobile,jdbcType=VARCHAR},
      CHANNEL_APP_ID = #{record.channelAppId,jdbcType=DECIMAL},
      FEE_VALUE = #{record.feeValue,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      SYNC_STATUS = #{record.syncStatus,jdbcType=DECIMAL},
      REDUCE_STATUS = #{record.reduceStatus,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      PROVINCE = #{record.province,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>