<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hytx.dao.syncEx.ori.TsyncexSkyMapper" >
  <resultMap id="BaseResultMap" type="com.hytx.model.syncEx.TsyncexSky" >
    <id column="LINKID" property="linkid" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="PHONENUM" property="phonenum" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="EXT" property="ext" jdbcType="VARCHAR" />
    <result column="SYNC_STATUS" property="syncStatus" jdbcType="DECIMAL" />
    <result column="REDUCE_STATUS" property="reduceStatus" jdbcType="DECIMAL" />
    <result column="CHANNEL_APP_ID" property="channelAppId" jdbcType="DECIMAL" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="COOP_ID" property="coopId" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    LINKID, STATUS, PHONENUM, PRICE, EXT, SYNC_STATUS, REDUCE_STATUS, CHANNEL_APP_ID, 
    CREATETIME, COOP_ID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hytx.model.syncEx.TsyncexSkyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_SYNCEX_SKY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_SYNCEX_SKY
    where LINKID = #{linkid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SYNCEX_SKY
    where LINKID = #{linkid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.hytx.model.syncEx.TsyncexSkyExample" >
    delete from T_SYNCEX_SKY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hytx.model.syncEx.TsyncexSky" >
    insert into T_SYNCEX_SKY (LINKID, STATUS, PHONENUM, 
      PRICE, EXT, SYNC_STATUS, 
      REDUCE_STATUS, CHANNEL_APP_ID, CREATETIME, 
      COOP_ID)
    values (#{linkid,jdbcType=VARCHAR}, #{status,jdbcType=DECIMAL}, #{phonenum,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{ext,jdbcType=VARCHAR}, #{syncStatus,jdbcType=DECIMAL}, 
      #{reduceStatus,jdbcType=DECIMAL}, #{channelAppId,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, 
      #{coopId,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.hytx.model.syncEx.TsyncexSky" >
    insert into T_SYNCEX_SKY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="linkid != null" >
        LINKID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="phonenum != null" >
        PHONENUM,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="ext != null" >
        EXT,
      </if>
      <if test="syncStatus != null" >
        SYNC_STATUS,
      </if>
      <if test="reduceStatus != null" >
        REDUCE_STATUS,
      </if>
      <if test="channelAppId != null" >
        CHANNEL_APP_ID,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="coopId != null" >
        COOP_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="linkid != null" >
        #{linkid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="phonenum != null" >
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="ext != null" >
        #{ext,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null" >
        #{syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="reduceStatus != null" >
        #{reduceStatus,jdbcType=DECIMAL},
      </if>
      <if test="channelAppId != null" >
        #{channelAppId,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopId != null" >
        #{coopId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hytx.model.syncEx.TsyncexSkyExample" resultType="java.lang.Integer" >
    select count(*) from T_SYNCEX_SKY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_SYNCEX_SKY
    <set >
      <if test="record.linkid != null" >
        LINKID = #{record.linkid,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.phonenum != null" >
        PHONENUM = #{record.phonenum,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.ext != null" >
        EXT = #{record.ext,jdbcType=VARCHAR},
      </if>
      <if test="record.syncStatus != null" >
        SYNC_STATUS = #{record.syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.reduceStatus != null" >
        REDUCE_STATUS = #{record.reduceStatus,jdbcType=DECIMAL},
      </if>
      <if test="record.channelAppId != null" >
        CHANNEL_APP_ID = #{record.channelAppId,jdbcType=DECIMAL},
      </if>
      <if test="record.createtime != null" >
        CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coopId != null" >
        COOP_ID = #{record.coopId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_SYNCEX_SKY
    set LINKID = #{record.linkid,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=DECIMAL},
      PHONENUM = #{record.phonenum,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=DECIMAL},
      EXT = #{record.ext,jdbcType=VARCHAR},
      SYNC_STATUS = #{record.syncStatus,jdbcType=DECIMAL},
      REDUCE_STATUS = #{record.reduceStatus,jdbcType=DECIMAL},
      CHANNEL_APP_ID = #{record.channelAppId,jdbcType=DECIMAL},
      CREATETIME = #{record.createtime,jdbcType=TIMESTAMP},
      COOP_ID = #{record.coopId,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hytx.model.syncEx.TsyncexSky" >
    update T_SYNCEX_SKY
    <set >
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="phonenum != null" >
        PHONENUM = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="ext != null" >
        EXT = #{ext,jdbcType=VARCHAR},
      </if>
      <if test="syncStatus != null" >
        SYNC_STATUS = #{syncStatus,jdbcType=DECIMAL},
      </if>
      <if test="reduceStatus != null" >
        REDUCE_STATUS = #{reduceStatus,jdbcType=DECIMAL},
      </if>
      <if test="channelAppId != null" >
        CHANNEL_APP_ID = #{channelAppId,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="coopId != null" >
        COOP_ID = #{coopId,jdbcType=DECIMAL},
      </if>
    </set>
    where LINKID = #{linkid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hytx.model.syncEx.TsyncexSky" >
    update T_SYNCEX_SKY
    set STATUS = #{status,jdbcType=DECIMAL},
      PHONENUM = #{phonenum,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      EXT = #{ext,jdbcType=VARCHAR},
      SYNC_STATUS = #{syncStatus,jdbcType=DECIMAL},
      REDUCE_STATUS = #{reduceStatus,jdbcType=DECIMAL},
      CHANNEL_APP_ID = #{channelAppId,jdbcType=DECIMAL},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      COOP_ID = #{coopId,jdbcType=DECIMAL}
    where LINKID = #{linkid,jdbcType=VARCHAR}
  </update>
</mapper>